<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="static\hakkimizda.css">
</head>
<body>

    <h4 class="yazi">
        Greylag İHA  Takımı 2023 senesinde İstanbul Havalimanı Mesleki Ve Teknik Anadolu Lisesi’nde kurulmuştur. 

2024 Teknofest’e deprem öncelikli olacak biçimde acil durumlarda hızlı müdaheleyi amaçlayan bir insansız hava aracı ile katılacaktır. LAG-1 projemizin detaylarında ise ulaşılamayan acil durum bölgelerindeki yıkım boyutunu inceleyecek, yapılan acil durum bildirimlerinin doğruluğunu kontrol edebilecek bir İnsansız Hava Aracı geliştirme çalışmaları vardır. İHA’mız uçtuğu bölgede görüntü almanın yanında bölge halkının acil durumu bildirmesine olanak sağlayacak bir formu da lokal ağ üstünden yayınlayacaktır. 
    </h4>
</body>
</html>