<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <!-- Diğer head içeriği -->
</head>
<body class="body">
    <h1>Sayın <span id="isimSoyisim"></span>, hoş geldiniz!</h1>

    <script>
        // URL'den parametreleri al
        var urlParams = new URLSearchParams(window.location.search);
        var isim = urlParams.get('isim');

        // Alınan parametreyi sayfada görüntüle
        if (isim) {
            document.getElementById("isimSoyisim").innerText = isim;
        }
    </script>
</body>
</html>